# Editor
.vscode/

# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
*.egg
.eggs/

# Build / distribution
build/
dist/
MANIFEST

# PyInstaller
*.spec

# Testing
.tox/
.coverage
.coverage.*
.cache
htmlcov/
coverage.xml
.pytest_cache/
.hypothesis/

# Jupyter
.ipynb_checkpoints

# Sphinx
docs/_build/

# Environments
.env
.venv
env/
venv/
